@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;1,400&family=Arimo:ital,wght@0,400;0,600;1,700&display=swap');

/*
for headings
font-family: 'Arimo', sans-serif;
for text
font-family: 'Aleo', serif;


*/

#footerimg {
    resize: 50px;
}