@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;1,400&family=Arimo:ital,wght@0,400;0,600;1,700&display=swap');

/*
for headings
font-family: 'Arimo', sans-serif;
for text
font-family: 'Aleo', serif;


*/
* {
    background-color: #f7f7f7;
    
}

body {
    margin: 50px;
    overflow: hidden;
    
}

.loadingtxt {
    font-size: 6rem; /* Adjust the text size as needed */
    color: #000000; /* Choose your text color */
    text-align: center;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    background-color: #f7f7f7;
}

.mr-3 {
    margin-right: 80px;
}

.pagenum {
    margin-right: 40px;
}

ul {
    list-style-type: none;
}

#footerimg {
    width: 50px;
    height: 60px;
    
}