/* styles.css */

/* Importing the Arimo font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/* Global Styles */
body, h1, h2, h3, p, a {
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Aleo', serif;
}

body {
    background-color: #f7f7f7;
    color: black;
    margin: 0;
    padding: 0;
}

.logo {
    height: 30px;
    width: auto;
    margin-right: 10px;
}

.profile-pic {
    height: 150px;
    width: auto;
    border-radius: 50%;
}

.fullscreen-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 100px;
}

.container {
    padding: 60px 100px;
}

h1 {
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, p, span {
    text-decoration: none;
}



.social-links a {
    color: black;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0073e6;
}

.navbar {
    background-color: #f7f7f7;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: black;
    transition: color 0.3s ease;
}
.navbar-nav .nav-item {
    margin-left: 25px;  /* Adjust this value if you want them closer or further apart */
}


.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
    color: #0073e6;  /* Adjust this to your preference for the hover color */
}

@media (max-width: 768px) {  /* Adjusting for tablets and below */
    .fullscreen-section, .container {
        padding: 40px 20px;  
    }

    .navbar-nav .nav-item {
        margin-left: 15px; 
    }
}

#loadingScreen {
    display: flex;
    flex-direction: column;  /* Stacking vertically */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 0.85);
    z-index: 1000;
}

#loadingScreen span {
    margin: 10px 0;
    font-size: 30px;  /* Setting the font size */
}

@media (max-width: 576px) { /* Adjusting for mobile screens */
    #loadingScreen span {
        font-size: 1.5rem;  /* Increase this size if you want the text even bigger */
    }
}